extends ./head
block content
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href='/')
        img.all-header-logo(src='/img/logo/header.svg' alt='Cosmosphere Logo')
      .all-header-button-wrapper
        a.all-header-each-button Speakers
        a.all-header-each-button Sponsors
        a.all-header-each-button Schedule
      .all-header-get-tickets-button
        .all-header-get-tickets-button-icon-wrapper
          svg.all-header-get-tickets-button-icon(viewbox='0 0 7 11' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.66484 5.5L1.66484 10.5L0.964844 9.8L5.26484 5.5L0.964844 1.2L1.66484 0.5L6.66484 5.5Z')
            path.all-header-get-tickets-button-icon-line(d='M6 5H0V6H6')
        span.all-header-get-tickets-button-text Get Tickets
    .all-content
      block main