extends ../partials/header
block main
  .page-one-wrapper
    .page-one-content
      img.page-one-background-image(src='/img/background/page-one.png' alt='Cosmosphere Page One Background')
      .page-one-inner-content
        .page-one-title-wrapper
          .page-one-title-date-wrapper
            h2.page-one-title-date Oct, 1st
            h2.page-one-title-date 2023
            h2.page-one-title-date Istanbul
          h1.page-one-title COSMOSPHERE
          h2.page-one-subtitle Expanding the Cosmoverse
          .page-one-get-tickets-button-wrapper
            .page-one-get-tickets-button-icon-wrapper
              svg.page-one-get-tickets-button-icon(viewbox='0 0 7 11' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.66484 5.5L1.66484 10.5L0.964844 9.8L5.26484 5.5L0.964844 1.2L1.66484 0.5L6.66484 5.5Z')
            .page-one-get-tickets-button-text Get Tickets
        .page-one-footer-wrapper
          h3.page-one-footer-supported-by-text Proudly supported by
          img.page-one-footer-supported-by-logo(src='/img/partners/interchain-foundation.png' alt='Partners - Interchain Foundation Logo')
          .page-one-footer-supported-by-spacing
          h3.page-one-footer-supported-by-text The official pre-Cosmoverse event
          img.page-one-footer-supported-by-logo(src='/img/partners/cosmoverse.png' alt='Partners - Cosmoverse Logo')
    .page-two-wrapper
      .page-two-spacing
      .page-two-content
        img.page-two-background-image(src='/img/background/page-two.png' alt='Cosmosphere Page Two Background')
        .page-two-inner-content
          .page-two-left-wrapper
            h2.page-two-left-each-subtitle Why Cosmosphere?
            h1.page-two-left-each-title To Become a Cosmonaut
            p.page-two-left-each-text The main purpose of Cosmosphere is to bring new faces to the Cosmos Ecosystem and turn them into Cosmonauts.
            .page-two-left-each-spacing
            h2.page-two-left-each-subtitle For Whom?
            h1.page-two-left-each-title Only for Newbies!
            p.page-two-left-each-text Cosmosphere is for the people who don't know the Cosmos Ecosystem but would like to discover it. 
            .page-two-left-each-spacing
            h2.page-two-left-each-subtitle What will I learn?
            h1.page-two-left-each-title 0 to 1
            p.page-two-left-each-text Cosmosphere is an event designed to take your Cosmos knowledge from scratch to one.
          .page-two-right-wrapper
            .page-two-cosmoverse-wrapper
              h1.page-two-cosmoverse-text COSMOVERSE
            .page-two-cosmosphere-wrapper
              h2.page-two-each-cosmosphere-question(style='left: 0; top: 0; transform: translateX(-50%)') What is Cosmos?
              h2.page-two-each-cosmosphere-question(style='left: 0; bottom: 0; transform: translateX(-50%)')  A career in Cosmos?
              h1.page-two-cosmosphere-text COSMOSPHERE
              h2.page-two-each-cosmosphere-question(style='right: 0; top: 0; transform: translateX(75%)')  Cosmos SDK?
              h2.page-two-each-cosmosphere-question(style='right: 0; transform: translateX(100%)')  CometBFT?
              h2.page-two-each-cosmosphere-question(style='right: 0; bottom: 0; transform: translateX(75%)')  CosmWasm?
            .page-two-earth-wrapper
              h1.page-two-earth-text EARTH
              img.page-two-earth-image(src='/img/shapes/earth.png' alt='Cosmosphere Page Two Earth Image')
        .page-three-wrapper
          .page-three-spacing
          .page-three-content