:root {
  --page-one-background-image-width: 1900px;
  --page-one-title-letter-spacing: 25px;
  --page-one-get-tickets-button-margin-top: 40px;
  --page-one-logo-height: 20px;
  --page-one-supported-by-bottom-spacing: 50px;

  --page-two-left-width: 500px;
  --page-two-left-subtitle-margin-bottom: 10px;
  --page-two-left-title-margin-bottom: 10px;
  --page-two-left-content-spacing: 60px;
  --page-two-content-spacing: 50px;
  --page-two-right-content-inner-width: 400px;
  --page-two-right-border-spacing: 20px;
  --page-two-right-cosmosphere-wrapper-height: 150px;
  --page-two-right-cosmosphere-wrapper-width: 500px;
  --page-two-right-cosmosphere-margin: 50px;
  --page-two-right-earth-width: 560px;

  --page-three-inner-content-gap: 100px;
  --page-three-speakers-grid-gap: 32px;
  --page-three-speaker-width: 280px;
  --page-three-speaker-height: calc(var(--page-three-speaker-width) * 1.1);
  --page-three-schedule-right-events-wrapper-height: 50vh;
  --page-three-schedule-right-events-wrapper-gap: 36px;
  --page-three-schedule-right-each-event-gap: 40px;
  --page-three-schedule-right-each-event-time-width: 140px;
  --page-three-schedule-right-each-event-mark-size: 16px;
  --page-three-schedule-color: rgba(231, 4, 99, 1);

  --page-three-sponsors-list-each-sponsor-wrapper-size: 210px;
  --page-three-sponsors-list-each-sponsor-wrapper-background: rgba(27, 27, 27, 1);
  --page-three-sponsors-list-each-sponsor-wrapper-border: 1px solid rgba(88, 36, 58, 1);

  --page-three-location-slider-wrapper-gap: 40px;
  --page-three-location-slider-wrapper-height: 400px;
  --page-thee-each-slider-arrow-size: 36px;
  --page-three-location-title-height: 48px;
  --page-three-location-wrapper-gap: 40px;

  --page-three-footer-logo-size: 36px;
  --page-three-footer-wrapper-gap: 150px;
  --page-three-footer-middle-wrapper-gap: 360px;
  --page-three-footer-middle-left-wrapper-gap: 30px;
}

.page-one-wrapper {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.page-one-content {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-one-background-image {
  height: auto;
  min-height: auto;
  width: var(--page-one-background-image-width);
  min-width: var(--page-one-background-image-width);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(45%);
}

.page-one-inner-content {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 5;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-one-title-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--page-one-title-letter-spacing);
}

.page-one-title-date-wrapper {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--page-one-title-letter-spacing);
}
.page-one-title-date {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color-two);
}

.page-one-title {
  font-weight: 600;
  font-size: 128px;
  color: var(--text-color);
  letter-spacing: var(--page-one-title-letter-spacing);
}
.page-one-subtitle {
  font-weight: 300;
  font-size: 32px;
  color: var(--text-color);
}

.page-one-get-tickets-button-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: var(--page-one-get-tickets-button-margin-top);
}
.page-one-get-tickets-button-icon-wrapper {
  height: var(--all-header-get-tickets-button-icon-wrapper-size);
  min-height: var(--all-header-get-tickets-button-icon-wrapper-size);
  width: var(--all-header-get-tickets-button-icon-wrapper-size);
  min-width: var(--all-header-get-tickets-button-icon-wrapper-size);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  margin-right: var(--all-header-get-tickets-button-icon-wrapper-margin);
}
.page-one-get-tickets-button-icon {
  height: var(--all-header-get-tickets-button-icon-height);
  min-height: var(--all-header-get-tickets-button-icon-height);
  width: auto;
  min-width: auto;
  fill: var(--background-color);
}
.page-one-get-tickets-button-text {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.page-one-footer-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: var(--page-horizontal-padding);
  bottom: var(--page-one-supported-by-bottom-spacing);
}
.page-one-footer-supported-by-text {
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 15px;
}
.page-one-footer-supported-by-logo {
  height: auto;
  width: auto;
}
.page-one-footer-supported-by-spacing {
  height: 30px;
  min-height: 30px;
  width: 1px;
  min-width: 1px;
}

.page-two-wrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
.page-two-wrapper::-webkit-scrollbar {
  display: none;
}

.page-two-spacing {
  scroll-snap-align: start;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-color: transparent;
  pointer-events: none;
}

.page-two-content {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.page-two-background-image {
  height: auto;
  min-height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: 5;
  left: 0;
}

.page-two-inner-content {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--all-header-height) var(--page-horizontal-padding);
  padding-bottom: 0;
  z-index: 6;
}

.page-two-left-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--page-two-left-width);
  min-width: var(--page-two-left-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-two-left-each-subtitle {
  font-weight: 300;
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: var(--page-two-left-subtitle-margin-bottom);
}
.page-two-left-each-title {
  font-weight: 400;
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: var(--page-two-left-title-margin-bottom);
}
.page-two-left-each-text {
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
}
.page-two-left-each-spacing {
  height: var(--page-two-left-content-spacing);
  min-height: var(--page-two-left-content-spacing);
  width: 1px;
  min-width: 1px;
}

.page-two-right-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-left: var(--page-two-content-spacing);
}

.page-two-cosmoverse-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--page-two-right-content-inner-width);
  min-width: var(--page-two-right-content-inner-width);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed var(--text-color);
}
.page-two-cosmoverse-text {
  font-weight: 500;
  color: var(--text-color);
  font-size: 44px;
  margin-bottom: var(--page-two-right-border-spacing);
}

.page-two-cosmosphere-wrapper {
  height: var(--page-two-right-cosmosphere-wrapper-height);
  min-height: var(--page-two-right-cosmosphere-wrapper-height);
  width: var(--page-two-right-cosmosphere-wrapper-width);
  min-width: var(--page-two-right-cosmosphere-wrapper-width);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: var(--page-two-right-cosmosphere-margin) 0;
}
.page-two-each-cosmosphere-question {
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color-two);
}
.page-two-cosmosphere-text {
  font-weight: 400;
  font-size: 58px;
  color: var(--main-color);
}

.page-two-earth-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--page-two-right-content-inner-width);
  min-width: var(--page-two-right-content-inner-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed var(--text-color);
}
.page-two-earth-text {
  font-weight: 500;
  color: var(--text-color);
  font-size: 44px;
  margin: var(--page-two-right-border-spacing) 0;
}
.page-two-earth-image {
  height: auto;
  min-height: auto;
  width: var(--page-two-right-earth-width);
  min-width: var(--page-two-right-earth-width);
}

.page-three-wrapper {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  background-color: transparent;
}
.page-three-wrapper::-webkit-scrollbar {
    display: none;
}

.page-three-spacing {
  z-index: 5;
  scroll-snap-align: start;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-color: transparent;
}

.page-three-content {
  scroll-snap-align: start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  position: relative;
}

.page-three-inner-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--page-three-inner-content-gap);
  z-index: 6;
}

.page-three-speakers-title {
  font-weight: 500;
  font-size: 40px;
  color: var(--text-color);
}
.page-three-speakers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: var(--all-header-height) var(--page-horizontal-padding);
}
.page-three-speakers-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--page-three-speakers-grid-gap);
}
.page-three-each-speaker-wrapper {
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--page-three-speaker-height);
  min-height: var(--page-three-speaker-height);
  width: var(--page-three-speaker-width);
  min-width: var(--page-three-speaker-width);
  padding-left: 16px;
  padding-top: 32px;
  padding-right: 10px;
  padding-bottom: 12px;
}
.page-three-each-speaker-background-image {
  height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.page-three-each-speaker-image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64%;
  min-height: 64%;
  width: auto;
  min-width: auto;
}
.page-three-each-speaker-name {
  font-size: calc(var(--page-three-speaker-width) * 0.17);
  font-style: normal;
  font-weight: 500;
  background: radial-gradient(151.14% 161.75% at -16.37% 0%, #E70463 0%, #FFF 70.34%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-three-each-speaker-title {
  font-size: calc(var(--page-three-speaker-width) / 24);
  font-weight: 300;
  text-align: end;
  color: var(--text-color-two);
}
.page-three-each-speaker-company-logo {
  margin-left: auto;
  margin-top: calc(var(--page-three-speaker-width) / 75);
}
.page-three-each-speaker-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 6px;
}
.page-three-each-speaker-link-icon {
  width: calc(var(--page-three-speaker-width) / 10);
  min-width: calc(var(--page-three-speaker-width) / 10);
  height: auto;
  min-height: auto;
}

.page-three-schedule-wrapper {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--all-header-height) var(--page-horizontal-padding);
  gap: var(--page-three-inner-content-gap);
  z-index: 6;
}
.page-three-schedule-left-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  gap: 20px;
  margin-bottom: auto;
}
.page-three-schedule-left-title {
  font-weight: 500;
  font-size: 48px;
  color: var(--text-color);
}
.page-three-schedule-left-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-three);
}
.page-three-schedule-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 640px;
  min-width: 640px;
  height: 100%;
  min-height: 100%;
}
.page-three-schedule-right-events-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--page-three-schedule-right-events-wrapper-gap);
  height: var(--page-three-schedule-right-events-wrapper-height);
  min-height: var(--page-three-schedule-right-events-wrapper-height);
  margin-top: auto;
  padding-right: 60px; 
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.page-three-schedule-right-events-wrapper::-webkit-scrollbar {
  width: 3px;
  min-width: 3px;
}
.page-three-schedule-right-events-wrapper::-webkit-scrollbar-thumb {
  background: var(--page-three-schedule-color);
  border-radius: 2px;
}
.page-three-schedule-right-each-event {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: var(--page-three-schedule-right-each-event-gap);
}
.page-three-schedule-right-each-event-time {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-three);
  width: var(--page-three-schedule-right-each-event-time-width);
  min-width: var(--page-three-schedule-right-each-event-time-width);
}
.page-three-schedule-right-each-event-mark {
  background: var(--background-color);
  border-radius: 50%;
  width: var(--page-three-schedule-right-each-event-mark-size);
  min-width: var(--page-three-schedule-right-each-event-mark-size);
  height: var(--page-three-schedule-right-each-event-mark-size);
  min-height: var(--page-three-schedule-right-each-event-mark-size);
  border: 3px solid var(--page-three-schedule-color);
  z-index: 10;
}
.page-three-schedule-timeline {
  width: 3px;
  min-width: 3px;
  height: calc(100% + var(--page-three-schedule-right-events-wrapper-gap));
  min-height: calc(100% + var(--page-three-schedule-right-events-wrapper-gap));
  background-color: var(--page-three-schedule-color);
  position: absolute;
  left: calc(var(--page-three-schedule-right-each-event-gap) + var(--page-three-schedule-right-each-event-time-width) + var(--page-three-schedule-right-each-event-mark-size) / 2 - 1.5px);
}
.page-three-schedule-right-each-event-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.page-three-schedule-right-each-event-title {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
}
.page-three-schedule-right-each-event-description {
  font-weight: 300;
  font-size: 14px;
  color: var(--text-color-three);
  line-height: 1.6;
}

.page-three-sponsors-wrapper {
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: var(--all-header-height) var(--page-horizontal-padding);
}
.page-three-sponsors-title {
  font-weight: 400;
  font-size: 54px;
  color: var(--text-color);
  align-self: center;
  margin-bottom: 100px;
}
.page-three-sponsors-subtitle {
  font-weight: 500;
  font-size: 32px;
  color: var(--text-color-two);
  margin-bottom: 32px;
  line-height: 1.6;
}
.page-three-sponsors-contact-wrapper {
  display: flex;
  gap: 16px;
}
.page-three-sponsors-each-contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 8px 16px;
  border-radius: 15px;
}
.page-three-sponsors-contact-divider {
  display: flex;
  font-size: 14px;
  color: var(--text-color);
  align-items: center;
}
.page-three-sponsors-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 calc(var(--page-horizontal-padding));
  margin-top: 100px;
}
.page-three-sponsors-list-title {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-color);
}
.page-three-each-sponsors-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}
.page-three-sponsors-list-title {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-color-two);
}
.page-three-sponsors-list-each-sponsor-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: var(--page-three-sponsors-list-each-sponsor-wrapper-size);
  min-width: var(--page-three-sponsors-list-each-sponsor-wrapper-size);
  height: var(--page-three-sponsors-list-each-sponsor-wrapper-size);
  min-height: var(--page-three-sponsors-list-each-sponsor-wrapper-size);
  background: var(--page-three-sponsors-list-each-sponsor-wrapper-background);
  border: var(--page-three-sponsors-list-each-sponsor-wrapper-border);
  border-radius: 5px;
  padding: 12px;
}
.page-three-sponsors-list-each-sponsor-image {
  position: absolute;
  align-self: center;
  width: auto;
  max-width: 55%;
  height: auto;
  max-height: 55%;
}
.page-three-sponsors-list-each-sponsor-name {
  margin-top: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-two);
  line-height: 1.4;
}
.page-three-sponsors-list-each-sponsor-link {
  width: calc(var(--page-three-sponsors-list-each-sponsor-wrapper-size) / 12);
  min-width: calc(var(--page-three-sponsors-list-each-sponsor-wrapper-size) / 12);
  height: auto;
  min-height: auto;  
  margin-top: auto;
  margin-left: 6px;
}

.page-three-location-wrapper {
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: var(--all-header-height) 0;
  gap: var(--page-three-location-wrapper-gap);
}
.page-three-location-title {
  width: 100%;
  min-width: 100%;
  height: var(--page-three-location-title-height);
  min-height: var(--page-three-location-title-height);
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  position: relative;
}
.page-three-location-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-width: 100vw;
  height: var(--page-three-location-slider-wrapper-height);
  min-height: var(--page-three-location-slider-wrapper-height);
  overflow-x: scroll;
  gap: var(--page-three-location-slider-wrapper-gap);
}
.page-three-location-slider-wrapper::-webkit-scrollbar {
  display: none;
}
.page-thee-each-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  -o-object-fit: cover;
  object-fit: cover;
  height: var(--page-three-location-slider-wrapper-height);
  min-height: var(--page-three-location-slider-wrapper-height);
  width: calc(var(--page-three-location-slider-wrapper-height) * 1.7);
  min-width: calc(var(--page-three-location-slider-wrapper-height) * 1.7);
  overflow: hidden;
}
.page-three-each-slider-image {
  width: 100%;
  max-width: 100%;
}
.page-thee-each-slider-filler {
  width: calc((100vw - (var(--page-three-location-slider-wrapper-height) * 1.7)) / 2 - var(--page-three-location-slider-wrapper-gap));
  min-width: calc((100vw - (var(--page-three-location-slider-wrapper-height) * 1.7)) / 2 - var(--page-three-location-slider-wrapper-gap));
  height: var(--page-three-location-slider-wrapper-height);
  min-height: var(--page-three-location-slider-wrapper-height);
}
.page-three-location-text {
  color: var(--text-color-two);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 calc(var(--page-horizontal-padding) * 2);
}
.page-thee-each-slider-arrow {
  width: var(--page-thee-each-slider-arrow-size);
  min-width: var(--page-thee-each-slider-arrow-size);
  height: var(--page-thee-each-slider-arrow-size);
  min-height: var(--page-thee-each-slider-arrow-size);
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: calc(var(--page-three-location-slider-wrapper-height) / 2 + var(--page-three-location-title-height) + var(--page-three-location-wrapper-gap) - var(--page-thee-each-slider-arrow-size) / 2);
}
#location-slider-arrow-left {
  left: var(--page-horizontal-padding);
}
#location-slider-arrow-right {
  right: var(--page-horizontal-padding);
}
/* 
.page-three-location-button {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.page-three-location-button:hover>.page-three-location-button-icon-wrapper {
  width: 180%;
  min-width: 180%;
}
.page-three-location-button:hover>.page-three-location-button-icon-wrapper>.page-three-location-button-icon {
  left: calc((var(--page-three-location-button-icon-wrapper-size) - var(--page-three-location-button-icon-width)) / 2 + 10px);
}
.page-three-location-button:hover>.page-three-location-button-icon-wrapper>.page-three-location-button-icon>.page-three-location-button-icon-line {
  opacity: 1;
}
.page-three-location-button:hover>.page-three-location-button-text {
  color: var(--background-color);
}
.page-three-location-button-icon-wrapper {
  height: var(--page-three-location-button-icon-wrapper-size);
  min-height: var(--page-three-location-button-icon-wrapper-size);
  width: var(--page-three-location-button-icon-wrapper-size);
  min-width: var(--page-three-location-button-icon-wrapper-size);
  border-radius: calc(var(--page-three-location-button-icon-wrapper-size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(-1 * (var(--page-three-location-button-icon-wrapper-margin) + var(--page-three-location-button-icon-wrapper-size)));
  background-color: var(--main-color);
  transition: none 0.4s ease-in-out;
  transition-property: width, min-width;
}
.page-three-location-button-icon {
  width: var(--page-three-location-button-icon-width);
  min-width: var(--page-three-location-button-icon-width);
  height: auto;
  min-height: auto;
  position: absolute;
  left: calc((var(--page-three-location-button-icon-wrapper-size) - var(--page-three-location-button-icon-width)) / 2);
  fill: var(--background-color);
  transition: all 0.4s ease-in-out;
}
.page-three-location-button-icon-line {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.page-three-location-button-text {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  transition: all 0.2s ease-in-out;
  z-index: 101;
} */

.page-three-footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 var(--page-horizontal-padding);
  gap: var(--page-three-footer-wrapper-gap);
}
.page-three-footer-top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.page-three-footer-top-title {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.3;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(103.73% 346.43% at 18.39% 0%, #E0E0E0 0%, #FF96C2 98.13%);
  text-align: center;
}
.page-three-footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--page-three-footer-middle-wrapper-gap);
}
.page-three-footer-middle-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--page-three-footer-middle-left-wrapper-gap);
}
.page-three-footer-middle-left-logo {
  height: var(--page-three-footer-logo-size);
  min-height: var(--page-three-footer-logo-size);
  width: var(--page-three-footer-logo-size);
  min-width: var(--page-three-footer-logo-size);
}
.page-three-footer-middle-left-title {
  color: var(--text-color);
  font-size: 40px;
  font-weight: 400;
  margin-left: var(--page-three-footer-logo-size);
  margin-top: calc(var(--page-three-footer-middle-left-wrapper-gap) * -1);
}
.page-three-footer-middle-left-text {
  color: var(--text-color-three);
  font-size: 20px;
  font-weight: 400;
}
.page-three-footer-middle-right-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.page-three-footer-middle-right-each-column {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.page-three-footer-middle-right-each-column-title {
  color: var(--main-color);
  font-size: 32px;
  font-weight: 400;
}
.page-three-footer-middle-right-each-column-link {
  text-decoration: none;
  color: var(--text-color-two);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.page-three-footer-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 32px;
}
.page-three-footer-bottom-divider {
  width: 100%;
  min-width: 100%;
  height: 1px;
  background-color: rgba(45, 45, 47, 1);
}
.page-three-footer-bottom-text-wrapper {
  display: flex;
  justify-content: space-between;
}
.page-three-footer-bottom-each-text {
  color: var(--text-color-two);
  font-size: 16px;
  font-weight: 400;
}