:root {
  --all-header-height: 90px;
  --all-header-logo-size: 55px;
  --all-header-button-gap: 60px;
  --all-header-get-tickets-button-icon-wrapper-size: 36px;
  --all-header-get-tickets-button-icon-wrapper-margin: 15px;
  --all-header-get-tickets-button-icon-width: 12px;
  --all-header-each-button-icon-size: 28px;
}

.all-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.all-header {
  height: var(--all-header-height);
  min-height: var(--all-header-height);
  width: 100vw;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: var(--background-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--page-horizontal-padding);
  z-index: 100;
  backdrop-filter: blur(20px);
}

.all-header-logo-wrapper {
  text-decoration: none;
  cursor: pointer;
}
.all-header-logo {
  height: var(--all-header-logo-size);
  min-height: var(--all-header-logo-size);
  width: var(--all-header-logo-size);
  min-width: var(--all-header-logo-size);
}

.all-header-button-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.all-header-each-button {
  font-size: 19px;
  color: var(--text-color);
  font-weight: 400;
  margin: 0 calc(var(--all-header-button-gap) / 2);
  cursor: pointer;
}
.all-header-each-button:hover {
  color: var(--main-color);
}
.all-header-each-button-icon {
  height: var(--all-header-each-button-icon-size);
  min-height: var(--all-header-each-button-icon-size);
  width: var(--all-header-each-button-icon-size);
  min-width: var(--all-header-each-button-icon-size);
  transition: all 0.2s ease-in-out;
}
.all-header-each-button-icon:hover {
  transform: scale(1.1);
}

.all-header-get-tickets-button {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper {
  width: 180%;
  min-width: 180%;
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper>.all-header-get-tickets-button-icon {
  left: calc((var(--all-header-get-tickets-button-icon-wrapper-size) - var(--all-header-get-tickets-button-icon-width)) / 2 + 10px);
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper>.all-header-get-tickets-button-icon>.all-header-get-tickets-button-icon-line {
  opacity: 1;
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-text {
  color: var(--background-color);
}
.all-header-get-tickets-button-icon-wrapper {
  height: var(--all-header-get-tickets-button-icon-wrapper-size);
  min-height: var(--all-header-get-tickets-button-icon-wrapper-size);
  width: var(--all-header-get-tickets-button-icon-wrapper-size);
  min-width: var(--all-header-get-tickets-button-icon-wrapper-size);
  border-radius: calc(var(--all-header-get-tickets-button-icon-wrapper-size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(-1 * (var(--all-header-get-tickets-button-icon-wrapper-margin) + var(--all-header-get-tickets-button-icon-wrapper-size)));
  background-color: var(--main-color);
  transition: none 0.4s ease-in-out;
  transition-property: width, min-width;
}
.all-header-get-tickets-button-icon {
  width: var(--all-header-get-tickets-button-icon-width);
  min-width: var(--all-header-get-tickets-button-icon-width);
  height: auto;
  min-height: auto;
  position: absolute;
  left: calc((var(--all-header-get-tickets-button-icon-wrapper-size) - var(--all-header-get-tickets-button-icon-width)) / 2);
  fill: var(--background-color);
  transition: all 0.4s ease-in-out;
}
.all-header-get-tickets-button-icon-line {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.all-header-get-tickets-button-text {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  transition: all 0.2s ease-in-out;
  z-index: 101;
}

.all-content {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--background-color);
}