:root {
  --all-header-height: 90px;
  --all-header-logo-size: 55px;
  --all-header-button-gap: 60px;
  --all-header-get-tickets-button-icon-wrapper-size: 36px;
  --all-header-get-tickets-button-icon-wrapper-margin: 15px;
  --all-header-get-tickets-button-icon-width: 12px;
  --all-header-each-button-icon-size: 28px;
}

.all-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.all-header {
  height: var(--all-header-height);
  min-height: var(--all-header-height);
  width: 100vw;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--page-horizontal-padding);
  z-index: 101;
  backdrop-filter: blur(20px);
}

.all-header-logo-wrapper {
  text-decoration: none;
  cursor: pointer;
}
.all-header-logo {
  height: var(--all-header-logo-size);
  min-height: var(--all-header-logo-size);
  width: var(--all-header-logo-size);
  min-width: var(--all-header-logo-size);
}

.all-header-button-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  position: absolute;
  left: calc(50vw - var(--all-header-get-tickets-button-icon-wrapper-size));
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.all-header-each-button {
  font-size: 19px;
  color: var(--text-color);
  font-weight: 400;
  margin: 0 calc(var(--all-header-button-gap) / 2);
  cursor: pointer;
}
.all-header-each-button:hover {
  color: var(--main-color);
}
.all-header-each-button-icon {
  height: var(--all-header-each-button-icon-size);
  min-height: var(--all-header-each-button-icon-size);
  width: var(--all-header-each-button-icon-size);
  min-width: var(--all-header-each-button-icon-size);
  transition: all 0.2s ease-in-out;
}
.all-header-each-button-icon:hover {
  transform: scale(1.1);
}

.all-header-get-tickets-button {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper {
  width: 180%;
  min-width: 180%;
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper>.all-header-get-tickets-button-icon {
  left: calc((var(--all-header-get-tickets-button-icon-wrapper-size) - var(--all-header-get-tickets-button-icon-width)) / 2 + 10px);
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper>.all-header-get-tickets-button-icon>.all-header-get-tickets-button-icon-line {
  opacity: 1;
}
.all-header-get-tickets-button:hover>.all-header-get-tickets-button-text {
  color: var(--background-color);
}
.all-header-get-tickets-button-icon-wrapper {
  height: var(--all-header-get-tickets-button-icon-wrapper-size);
  min-height: var(--all-header-get-tickets-button-icon-wrapper-size);
  width: var(--all-header-get-tickets-button-icon-wrapper-size);
  min-width: var(--all-header-get-tickets-button-icon-wrapper-size);
  border-radius: calc(var(--all-header-get-tickets-button-icon-wrapper-size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(-1 * (var(--all-header-get-tickets-button-icon-wrapper-margin) + var(--all-header-get-tickets-button-icon-wrapper-size)));
  background-color: var(--main-color);
  transition: none 0.4s ease-in-out;
  transition-property: width, min-width;
}
.all-header-get-tickets-button-icon {
  width: var(--all-header-get-tickets-button-icon-width);
  min-width: var(--all-header-get-tickets-button-icon-width);
  height: auto;
  min-height: auto;
  position: absolute;
  left: calc((var(--all-header-get-tickets-button-icon-wrapper-size) - var(--all-header-get-tickets-button-icon-width)) / 2);
  fill: var(--background-color);
  transition: all 0.4s ease-in-out;
}
.all-header-get-tickets-button-icon-line {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.all-header-get-tickets-button-text {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  transition: all 0.2s ease-in-out;
  z-index: 101;
}

.all-header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-image: url('/img/background/header-mobile-menu.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--page-horizontal-padding);
}
.all-header-mobile-menu-close-button {
  width: 36px;
  min-width: 36px;
  height: auto;
  min-height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}
.all-header-mobile-menu-sections-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-header-mobile-menu-each-section-button {
  font-size: 42px;
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}
.all-header-mobile-menu-contact-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-header-mobile-menu-contact-title {
  font-size: 30px;
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}
.all-header-mobile-menu-each-button {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.all-content {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--background-color);
}

@media only screen and (max-width: 1700px) {}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1100px) {
  .all-header-each-button {
    margin: 0 calc(var(--all-header-button-gap) / 4);
  }
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 900px) {
  :root {
    --all-header-get-tickets-button-icon-wrapper-size: 30px;
    --all-header-logo-size: 45px;
    --all-header-get-tickets-button-icon-wrapper-margin: 8px;
  }

  .all-header-each-button {
    font-size: 17px;
    margin: 0 calc(var(--all-header-button-gap) / 6);
  }
  .all-header-get-tickets-button:hover>.all-header-get-tickets-button-icon-wrapper {
    width: 154%;
    min-width: 154%;
  }
  .all-header-get-tickets-button-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 700px) {
  :root {
    --all-header-height: 70px;
    --all-header-logo-size: 40px;
  }

  #header-menu-button {
    display: flex !important;
  }
  #header-speakers-button, #header-schedule-button, #header-sponsors-button {
    display: none;
  }

  .all-header-get-tickets-button {
    display: none;
  }

  .all-header-button-wrapper {
    transform: unset;
    position: static;
  }
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 300px) {}